/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";

td.longText {
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow:ellipsis;
  }

td.longText:hover{
    overflow: hidden;
}
